<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
</head>
<body>
    
    <div class="container">
        Welcome Our Login page
        <button class="btn btn-danger" name="button" type="button">Login</button>
    </div>

    <div class="jumbotron">
        Welcome
    </div>
    
</body>
</html>